body{
    background-color: aliceblue;
}
button{
    margin: 10px;
}
#weather{
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    margin: 10px;
    list-style: none;
    font-weight: bold;
    
}
